# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
include/
bin/
lib/
lib64/
parts/
sdist/
var/
wheels/

# Translations
*.mo
*.pot

# Log file
*.log

# SSL file
*.pem
*.key

# Environments
.env
env/

# Test file
.test